/* ----- BASIC STYLING ---- */
* {
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
:root {
    --b1: #000000;
    --b2: #203A7C;
    --b3: #F0F2E1;
    --b4: #39A197;
    --b5: #45AFA2;
    --b6: #42CDA1;
    --b7: #47E3A6;
}
.hidden {
    display: none !important;
}
body {
    background: var(--b2);
}
#WholePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
@font-face {
    font-family: Basic;
    src: url("Changa-Regular.ttf");
}
@font-face {
    font-family: Blanka;
    src: url('Blanka-Regular.otf');
}
/* --------- */

/* Navigation Bar */
#NavBarContainer {
    width: calc(100% - 30px);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#NavBarLogo {
    width: 120px;
    height: 120px;
    background-position: center center;
    overflow: hidden;
}
#NavBarBTNS {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.NavBarBTN {
    gap: 10px;
    cursor: pointer;
    width: fit-content;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Basic;
    background: var(--b4);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    font-size: 20px;
}
.NavBarBTN:hover {
    background: transparent
}
.NavBarBTN:is(.ResetGameBTN) i {
    font-size: 17px;
}

/* Pop up */
#PopUp_Container {
    width: calc(100% - 60px);
    padding-inline: 30px;
    margin-top: 100px;
    height: calc(100% - 100px);
    position: absolute;
    z-index: 10;
    pointer-events: none;
    display: flex;
    justify-content: end;
}
#PopUpContent {
    overflow: hidden;
    width: 300px;
    height: 100px;
    background:rgb(211, 184, 131);
    border: 1px solid rgb(181, 145, 71);
    border-radius: 20px;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Basic;
    position: relative;
    right: -200px;
    width: 100px;
    opacity: 0.5;
}
#POP_H {
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#PopUpContent p {
    overflow: hidden;
    flex-shrink: 0;
    width: calc(100% - 160px);
    padding-inline: 30px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    font-size: 20px;
}

.PopOut {
    animation: PopUp 4s ease-in-out forwards;
}
@keyframes PopUp {
    0% {
        right: -200px;
        width: 100px;
        opacity: 0.5;
    }
    5% {
        right: 0px;
        width: 100px;
        opacity: 1;
    }
    7.5% {
        right: 0px;
        width: 100px;
        opacity: 1;
    }
    12.5% {
        right: 0px;
        width: 350px;
        opacity: 1;
    }

    87.5% {
        right: 0px;
        width: 350px;
        opacity: 1;
    }
    92.5% {
        right: 0px;
        width: 100px;
        opacity: 1;
    }
    95% {
        right: 0px;
        width: 100px;
        opacity: 1;
    }
    100% {
        right: -200px;
        width: 100px;
        opacity: 0.5;
    }
}


/* Content */
#ContentContainer {
    width: calc(100% - 40px);
    height: calc(100% - 105px);
    background: var(--b3);
    border-radius: 20px;
    padding: 10px;
    font-family: Basic;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Main Page */
#MainPage {
    position: absolute;
    z-index: 3;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}
#MainPage_Header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#MainPage_Header h1,
#MainPage_Header h2,
#MainPage_Header h3 {
    font-family: Basic;
    color: black;
}
#MainPage_Header h1 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 2;
}
#HighlightedBox {
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: var(--b4);
    transition: 1.5s all ease-in-out;
}

#MainPage_HowToPlay {
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#MainPage_HowToPlay h4,
#MainPage_HowToPlay p {
    color: black;
    font-family: Basic;
    width: 100%;
    height: fit-content;
    text-align: center;
}
#MainPage_HowToPlay p {
    font-size: 20px;

}

#MainPage_StartContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#MainPage_StartBTN {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background: var(--b4);
    color: black;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border: none;
    border-inline: 1px solid var(--b2);
    border-bottom: 7px solid var(--b2);

    transition: 0.2s all ease-in-out;
}
#MainPage_StartBTN:hover {
    border-inline: 1px solid var(--b2);
    border-bottom: 2px solid var(--b2);
}

/* SelectLevelPage */
#SelectLevelPage {
    position: absolute;
    z-index: 4;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

#SLP_Header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#SLP_Header h2,
#SLP_Header p {
    height: 50px;
    color: black;
    font-family: Basic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

#SLP_LevelsContainer {
    width: calc(100% - 40px);
    padding: 20px;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--b2);
    border-radius: 20px;
    min-height: 600px;
}
#SLP_LevelOverview {
    width: calc(50% - 11px);
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#SLP_LevelsDisplay {
    width: calc(50% - 11px);
    height: 100%;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 10px;
}
#SLP_LevelsDisplay::-webkit-scrollbar {display: none;}

#SLP_LevelOverview h4 {
    background: var(--b4);
    padding-inline: 5px;
    border-radius: 5px;
    text-align: center;
}
#SLP_LevelDetails {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#SLP_DiffDetail status {
    margin-left: 5px;
}
.SLP_DIF_Hard {
    color: red;
}
.SLP_DIF_Medium {
    color: orange;
}
.SLP_DIF_Easy {
    color: lawngreen;
}
#SLP_TimeDetail i {
    font-size: 15px;
    margin-inline: 4px;
    margin-right: 6px;
}
#SLP_LevelDescription {

    width: calc(100% - 20px);
    margin-right: 20px;
    height: fit-content;
    margin-top: 15px;
}
#SLP_LevelDescription h3 {
    font-size: 25px;
}
#SLP_LevelDescription p {
    font-size: 19px;
    word-spacing: 4px;
}

.SLP_Level {
    width: calc(100% - 26px);
    height: 35px;
    padding: 10px;
    background: var(--b3);
    border-radius: 15px;
    /* border: 2.5px solid #b4ac96; */
    border: 3px solid rgb(255, 235, 196);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SLP_Level h4 {
    color: black;
    font-size: 20px;
}
.SLP_LevelCheckBox {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: 2px solid rgb(211, 184, 131);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SLP_LevelCheckBox:is(.Selected) {
    border: 2px solid var(--b4);
    background: var(--b5);
}
.SLP_LevelCheck {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transition: 0.1s all ease-in-out;
}
.SLP_LevelCheck:is(.Selected) {
    opacity: 1;
}

#SLP_GameSettings {
    width: calc(100% - 20px);
    height: calc(100px - 20px);
    padding: 10px;
    background: #dfd5bb;
    border-radius: 20px; 
}

#SLP_ButtonContainer {
    width: calc(100% - 20px);
    height: calc(100px - 20px);
    padding: 10px;
    background: #dfd5bb;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BackBTN {
    background: var(--b3);
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    height: 100%;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    transition: 0.3s all ease-in-out
} .BackBTN i {color: black;}
.BackBTN:hover {
    gap: 20px;
}

#BeginGameBTN {
    cursor: pointer;
    height: calc(100% - 7px);
    padding-inline: 10px;
    background: var(--b4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-inline: 1px solid var(--b2);
    border-bottom: 7px solid var(--b2);
    transition: 0.1s all ease-in-out
}
#BeginGameBTN:hover {
    height: calc(100% - 2px);
    border-inline: 1px solid var(--b2);
    border-bottom: 2px solid var(--b2);
}

/* Questions Page */
#ScenarioQuestionPage {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#SQ_MainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#SQ_BTNContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SQ_ContinueBTN {
    padding-inline: 20px;
    background: var(--b4);
    border-radius: 10px;
    border-inline: 1px solid var(--b2);
    border-bottom: 7px solid var(--b2);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.SQ_ContinueBTN:hover {
    border-bottom: 2px solid var(--b2);
}

#ScenarioCaseDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ScenarioCaseDisplay p{
    width: 75%;
    height: fit-content;
    color: black;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}
#ScenarioCaseOptions {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.ScenarioCaseOption {
    width: calc(100% - 20px);
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: #dfd5bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ScenarioCaseOption p {
    width: calc(100% - 50px);
    color: black;
    font-size: 27px;
    line-height: 40px;
}

.SCO_SelectionBox {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgb(220, 187, 120);
    overflow: hidden;
}
.SCO_Selector {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: var(--b4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SCO_Selector:is(.Selected) {
    opacity: 1;
    width: 100%;
    height: 100%;
    background: var(--b4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Animation_Appear {
    animation: AppearFromLeft 0.75s ease-in-out forwards;
}
@keyframes AppearFromLeft {
    0% {
        opacity: 0;
        translate: -100px 0px;
    }
    100% {
        opacity: 1;
        translate: 0px 0px;
    }
}

/* End Page */
#ScenarioEndPage {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    z-index: 6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#SE_Sec1 {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    overflow: hidden;
}
#SE_Sec2 {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#End_Message {
    flex-shrink: 0;
    color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}
#End_Advice {
    flex-shrink: 0;
    color: rgb(80, 80, 80);
    width: 70%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-weight: 600;
}
#End_PlayerTitle {
    width: fit-content;
    padding-inline: 20px;
    border-radius: 10px;
    height: 65px;
    gap: 20px;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800;
    overflow: hidden;
}
#End_PlayerTitleCallingCard {
    width: fit-content;
    height: 65px;
    background: var(--b2);
    border-radius: 10px;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-weight: 800;
}
.End_Lost {
    color: darkred;
}
.End_Victory {
    color: black;
}
#End_ContentContainer {
    height: calc(100% - 281px);
    flex-grow: 1;
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--b2);
}
#End_PDM_C {
    height: 60px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--b2);
    position: relative;
    z-index: 6;

    display: flex;
    justify-content: space-between;
    align-items: end;
}
#End_PDM_C p {
    color: black;
    height: 100%;
    display: flex;
    align-items: end;
    line-height: 30px;
}
#ViewAllScenarios {
    padding-inline: 10px;
    height: fit-content;
    border-radius: 10px;
    border-inline: 1px solid var(--b2);
    border-bottom: 7px solid var(--b2);
    background: var(--b4);
    transition: 0.2s all ease-in-out;
}
#ViewAllScenarios:hover {
    border-bottom: 2px solid var(--b2);
}

#End_PDMC {
    width: 100%;
    height: calc(100% - 73px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    gap: 10px;
    position: relative;
    z-index: 6;
}
#End_PDMC::-webkit-scrollbar {display: none;}

.End_CaseContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.End_CaseContainer:first-child {
    margin-top: 10px;
}
.End_DecisionContainer {
    width: calc(100% - 100px);
    padding: 20px;
    padding-left: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border-left: 5px solid var(--b2);
    background: var(--b3);
}
.End_CaseNB {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.End_CaseNB p {
    color: black;
    font-size: 40px;
}


.End_Scenario {
    width: calc(100% - 40px);
    padding: 20px;
    min-height: 30px;
    line-height: 35px;
    display: none;
    align-items: center;
    color: black;
    background: lightgray;
    border-radius: 20px;
    font-size: 25px;
}
.End_Decision {
    margin-block: 10px;
    width: calc(100% - 40px);
    padding: 20px;
    background: #dfd5bb;
    color: black;
    border-radius: 20px;
    border: 1px solid rgb(220, 187, 120);
    position: relative;
}
.End_Explain {
    width: 100%;
    color: black;
    font-size: 25px;
}

#SmoothEffectC {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, var(--b3) 0%, rgba(255, 255, 255, 0) 20%);
}

#RetryBTN {
    cursor: pointer;
    padding: 5px;
    padding-inline: 10px;
    border-inline: 1px solid var(--b2);
    border-bottom: 7px solid var(--b2);
    background: var(--b4);
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#RetryBTN i {
    font-size: 24px;
}
#RetryBTN:hover {
    border-bottom: 2px solid var(--b2);
}



/* Styling Columns */
#StylingBarColumnsContainer {
    position: absolute;
    z-index: 1;
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    opacity: 0.5;
}
#StylingBarColumns {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.StylingBarColumnsSec {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.StylingBarColumn {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: calc(33.33% - 10%);
    background: var(--b6);
    transition: 0.3s all ease-in-out;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}
.StylingBarDark {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 33.33%;
    width: 100%;
    background: var(--b2);
    box-shadow: 0px -10px 0px 0px var(--b4);
    transition: 0.3s all ease-in-out;
}
.StylingBarLight {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 33.33%;
    width: 100%;
    background: var(--b4);
    transition: 0.3s all ease-in-out;
}
/* 
    --b1: #000000;
    --b2: #203A7C;
    --b3: #F0F2E1;
    --b4: #39A197;
    --b5: #45AFA2;
    --b6: #42CDA1;
    --b7: #47E3A6;
*/